body {
  font-family: 'Roboto';
  background: #ddd6f3;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #faaca8, #ddd6f3);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #faaca8, #ddd6f3);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

h1 {
  background: #2980b9;
  color: white;
  margin: 0;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 24px;
  font-weight: normal;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  background: white;
  height: 40px;
  /* makes line of text take up entire height area */
  line-height: 40px;
  color: #666;
}

span {
  background: #e74c3c;
  height: 40px;
  margin-right: 20px;
  text-align: center;
  /* remember, the icons are treated as text so color them in the same way */
  color: white;
  width: 0px;
  display: inline-block;
  transition: 0.2s linear;
  /* stops icon being visible even when collapsed */
  opacity: 0;
}

input {
  font-size: 18px;
  color: #2980b9;
  background-color: #f7f7f7;
  /* makes the input go all the way across the container */
  width: 100%;
  /* makes the input and placeholder start from the right place */
  padding: 13px 13px 13px 20px;
  /* check Moz docs - the width and height properties include the padding and border, but not the margin */
  box-sizing: border-box;
  /* invisible border to make it flush when input in focus and not in focus */
  border: 3px solid rgba(0, 0, 0, 0);
}

/* every other li */
li:nth-child(2n) {
  background: #f7f7f7;
}

/* when we hover over the li, SELECT the span */
li:hover span {
  width: 40px;
  opacity: 1.0;
}

/* focus selector to style when we click in the input box */
input:focus {
  background: #fff;
  border: 3px solid #2980b9;
  outline: none;
}

#container {
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.1);
  width: 360px;
  /* easiest way to centre */
  margin: 100px auto;
  background: #f7f7f7;
}

.completed {
  color: gray;
  text-decoration: line-through;
}

.fa-edit {
  float: right;
}
